* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(#000000 50%, #ffb92a 50%);
}

.container {
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #201f28;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.search-con {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}
.search-con button,
.search-con input {
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}

.search-con input {
    background-color: transparent;
    border: 1px solid #a0a0a0;
    padding: 0.7em;
    color: #fff;
}

.search-con input:focus {
    border-color: #fff;
}

.search-con button {
    background-color: #ffb92a;
    border: none;
    cursor: pointer;
}

.error {
    color: #fff;
    margin-top: 1em;
    text-align: center;
}

.title{
    font-weight: 600;
    font-size: larger;
}

.info {
    color: #ffffff;
    margin-top: 1em;
    display: flex;
    gap: 2em;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.information img {
    height: 20px;
}

.rating {
    display: flex;
    gap: 0.5em;
    align-items: center;
}
